h2, h3 {
	text-align: center;
	margin: 0;
}

h3 {
	padding-bottom: 10px;
}

.card {
	width: 80%;
	margin: 1rem auto;
	background: #fff;
	box-shadow: 5px 5px 1px #126872;
	border-radius: 5px;
}

.card__header {
	border-bottom: 2px solid #88F9D4;
	border-radius: 5px 5px 0 0;
	color: #001727;
}

span {
	font-weight: 400;
}

.card__details {
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
}

.card__details--left {
	width: 40%;
	padding: 1rem;
	line-height: 2rem;
}

.card__details--right{
	width: 60%;
	padding: 1rem;
	line-height: 1.4rem;
}

@media screen and (max-width: 580px) {
	.card {
		width: 90%;
	}
	
	.card__details {
		flex-direction: column;
	}

	.card__details--left {
		width: 80%;
		margin: auto;
		line-height: 2rem;
	}

	.card__details--right{
		width: 80%;
		margin: auto;
		margin-top: -16px;
		line-height: 1.6rem;
	}

	.block {
		display: flex;
		flex-direction: column;
	}
  }